@import "../../ressources/global.scss";

.tag {
    min-width: 115px;
    display: flex;
    background-color: $colorPrimary;
    padding: 2px 15px;
    justify-content: center;
    border-radius: 10px;

    &__name {
        font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 19.96px;
        color: white;
    }
}