@import "../../ressources/global.scss";

.noteTable {
    & :nth-child(n) {
        font-size: 30px;
        color: $colorPrimary;

        @media screen and (max-width: 800px) {
            font-size: 15px;
        }
    }

    & :not(:first-child) {
        margin-left: 2px;
    }
}