.home {
    &__topPage {
        width: 100%;
        height: 223px;
        background-image: linear-gradient(rgb(0, 0, 0, .25), rgb(0, 0, 0, .25)), url("../../ressources/images/backgroundHomeTopPage.png");
        background-position: center;
        background-size: cover;
        border-radius: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        &__title {
            font-family: "Montserrat";
            font-weight: 500;
            font-style: normal;
            font-size: 48px;
            line-height: 68.45px;
            color: white;
        }
    }
}