.topPage {
    width: 100%;
    height: 223px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 805px) {
        height: 111px;
        border-radius: 10px;
    }

    &__title {
        font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-size: 48px;
        line-height: 68.45px;
        color: white;
        text-align: center;

        @media screen and (max-width: 805px) {
            font-size: 24px;
            line-height: 24px;
        }
    }

    &.home {
        background-image: linear-gradient(rgb(0, 0, 0, .25), rgb(0, 0, 0, .25)), url("../../ressources/images/backgroundHomeTopPage.png");
    }

    &.about {
        background-image: linear-gradient(rgb(0, 0, 0, .25), rgb(0, 0, 0, .25)), url("../../ressources/images/backgroundAbout.png");

        @media screen and (max-width: 805px) {
            height: 223px;
            border-radius: 25px;
        }
    }
}